# Local terraform directories
*/.terraform/

# State files
*.tfstate
.tfstate.

# Crash log files
*.log

# Sensitive data
*.tfvars
course materials/module02/demo-variabel/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.69.0/darwin_arm64/terraform-provider-azurerm_v3.69.0_x5
course materials/module03/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.69.0/darwin_amd64/terraform-provider-azurerm_v3.69.0_x5
course materials/module01/secret.txt
