# Local terraform directories
*/.terraform/

# State files
*.tfstate
.tfstate.

# Crash log files
*.log

# Sensitive data
*.tfvars
course materials/module02/demo-variabel/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.69.0/darwin_arm64/terraform-provider-azurerm_v3.69.0_x5
course materials/module03/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.69.0/darwin_amd64/terraform-provider-azurerm_v3.69.0_x5
course materials/module01/secret.txt
course materials/module03/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.69.0/darwin_arm64/terraform-provider-azurerm_v3.69.0_x5
course materials/module03/main.tf
course materials/module03/terraform.tfstate.backup
course materials/module03/.terraform.lock.hcl
course materials/module04/terraform.tfstate.backup
course materials/module04/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.69.0/darwin_arm64/terraform-provider-azurerm_v3.69.0_x5
course materials/module04/.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/darwin_arm64/terraform-provider-random_v3.5.1_x5
course materials/module04/.terraform/modules/modules.json
course materials/module04/.terraform.lock.hcl
